*{
    font-family: "Goudy Bookletter 1911", sans-serif;
}
.header{ margin-top:1em;
    padding-bottom: 1.5em;
    border-bottom: solid 3px ;
    margin-bottom: 1em;
}



span.last{
    border: none;
}

.title{
    font-size: 4em;
    display: inline;
}
a{
    color: black;
    text-decoration: none;
}
.logo{
    cursor: pointer;
    margin-left: 5%;
    padding: 1%;
    font-size: 3em;
    display: inline;
    border: solid 3px;
}
.container{
    width: 50%;
    float: left;

}
.bigPic{
    display: none;
    position: fixed;
    right: 2em;
    width: 28em;
    height: 14em;
    border-radius: 0 1em 1em 0;
    background-color: black;
    float: right;


}

#name{
    position: relative;
    top: -5.2em;
    overflow: inherit;
    float: right;
    margin-left: 3em;
    width: 9em;
    color: white;
    text-align: left;
    font-size: 2em;
}

#price{
    z-index: 99;
    text-align: right;
    color: black;
    padding-top: 1.7em;
    padding-bottom: 1.8em;
    margin: 0;
    width: 3em;
    font-size: 3em;
    background-color: white ;
    font-weight: bold;

}
